@import '/src/common/modern-reset.css';
@import '/src/common/a11y.css';

.img-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-active: #4cfe88;
  --state-default: #dbdbdb;
  --state-border: #fff;

  width: var(--size);
  position: relative;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  .state {
    width: 25%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: var(--radius);
    right: 0;
    bottom: 0;
    border: 2px solid var(--state-border);
    background-color: var(--state-default);

    &.is-active {
      background-color: var(--state-active);
    }
  }
}

.button-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-active: #4cfe88;
  --state-default: #dbdbdb;
  --state-border: #fff;

  border: 0;
  padding: 0;
  width: var(--size);
  position: relative;
  background: transparent;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  &::after {
    content: '';
    width: 25%;
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: var(--radius);
    right: 0;
    bottom: 0;
    border: 2px solid var(--state-border);
    background-color: var(--state-default);
  }

  &.is-active::after {
    background-color: var(--state-active);
  }
}
